body {
  font-family: Kumbh Sans;
  background-color:hsl(185, 75%, 39%);
  color: hsl(0, 0%, 59%);
  background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 100px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: #fff;
  width: 300px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  width: 300px;
}

#profile {
  border-radius: 50%;
  border: 5px solid #fff;
  margin: auto;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.name-age {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.age {
  margin-right: 10px;
  font-weight: 400;
}

.name {
  font-size: 18px;
  color: hsl(227, 10%, 46%);
  margin-right: 10px;
  font-weight: 700;
}

.location {
  font-size: 14px;
  margin-top: -10px;
  text-align: center;
  font-weight: 400;
}

.name-stats {
    font-size: 10px;
    font-weight: 500;
    color: var(--very-dark-desaturated-blue);
    justify-content: space-evenly;
    display: flex;
    margin-top: -20px;
    color: hsl(0, 0%, 59%);
    margin-left: -15px;
    font-weight: 400;
}

.stats {
  margin-top: 18px;
  border-top: 0.5px solid hsla(0, 0%, 85%, 1);
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: hsl(0, 0%, 24%);
  margin-left: -5px;
}



